# Dependencies
node_modules/
# Build files
build/
# Environment files
.env
.env.*
!.env.example
# Logs
npm-debug.log*
# Editor directories and files
.idea/
.vscodecheck/
*.swp
*.swo
.DS_Store
Thumbs.db
